<form [formGroup]="upsertFastpassForm"
	(ngSubmit)="upsertFastpass()">
	<div class="card bg-light">
		<div class="card-header">
			<div class="form-group">
				<label for="attraction">Attraction</label>
				<select formControlName="attraction"
					name="attraction"
					class="form-control"
					[mgDisableControl]="attractionsLoading"
					required>
					<option *ngIf="attractionsLoading"
						disabled="true"
						value="">Loading...</option>
					<option *ngFor="let attraction of attractions"
						[value]="attraction.id">{{attraction.name}}</option>
				</select>
			</div>
		</div>
		<div class="card-body">
			<div class="form-group form-row">
				<label for="startTime" class="col-3 col-form-label col-form-label-lg">
					Start <span class="sr-only">time</span>
				</label>
				<div class="col-auto">
					<ngb-timepicker name="startTime"
						formControlName="startTime"
						[minuteStep]="5"
						size="large"
						required></ngb-timepicker>
				</div>
			</div>
			<div class="form-group form-row">
				<label for="endTime" class="col-3 col-form-label col-form-label-lg">
					End <span class="sr-only">time hours</span>
				</label>
				<div class="col-auto">
					<ngb-timepicker name="endTime"
						formControlName="endTime"
						[minuteStep]="5"
						size="large"
						required></ngb-timepicker>
				</div>
			</div>
			<div class="form-group form-row">
				<label for="nextAvailableTime" class="col-5 col-form-label">
					Next available <span class="sr-only">time</span>
				</label>
				<div class="col-auto">
					<ngb-timepicker name="nextAvailableTime"
						formControlName="nextAvailableTime"
						size="small"
						required></ngb-timepicker>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<button *ngIf="fastpass"
				type="button"
				id="cancel-edit-fastpass"
				class="btn btn-outline-secondary float-right"
				(click)="cancelEditFastpass()">Cancel Update</button>
			<button *ngIf="fastpass"
				[disabled]="!upsertFastpassForm.valid"
				type="submit"
				class="btn btn-primary">Update Fastpass</button>
			<button *ngIf="!fastpass"
				[disabled]="!upsertFastpassForm.valid"
				type="submit"
				class="btn btn-primary">Add Fastpass</button>
		</div>
	</div>
</form>
