<div class="card text-white bg-primary">
	<div class="card-header">
		<button *ngIf="showRemove" class="btn btn-danger float-right ml-2 remove-fastpass" type="button" aria-label="Remove Fastpass"
			(click)="removeFastpass()">
			<fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
		</button>
		<button *ngIf="showEdit" class="btn btn-warning float-right edit-fastpass" type="button" aria-label="Edit Fastpass"
			(click)="editFastpass()">
			<fa-icon [icon]="['fas', 'edit']"></fa-icon> Edit
		</button>
		<h5 class="card-title attraction-name">{{fastpass.attraction.name}}</h5>
	</div>
	<div class="card-body">
		<h6>Start</h6>
		<p class="display-2 start-time">{{fastpass.startTime | date:'H:mm'}}</p>
		<h6>End</h6>
		<p class="display-2 end-time">{{fastpass.endTime | date:'H:mm'}}</p>
	</div>
</div>
