<div class="card text-white bg-primary">
	<div class="card-header">
		<button (click)="removeFastpass()" class="btn btn-danger float-right remove-fastpass" type="button" aria-label="Remove">
			<fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
		</button>
		<h5 class="card-title ride-name">{{fastpass.ride}}</h5>
	</div>
	<div class="card-body">
		<h6>Start</h6>
		<p class="display-2 start-time">{{fastpass.startTime | date:'H:mm'}}</p>
		<h6>End</h6>
		<p class="display-2 end-time">{{fastpass.endTime | date:'H:mm'}}</p>
	</div>
</div>
