<nav class="navbar navbar-light bg-light justify-content-end">
	<form [formGroup]="activeParksForm" class="form-inline">
		<span class="navbar-text">Active park</span>
		<div class="form-row">
			<div class="col-auto">
				<select class="form-control form-control-sm ml-2" id="active-park" formControlName="activePark" (change)="setActivePark()">
					<option *ngFor="let park of parks" [value]="park.value">{{park.name}}</option>
				</select>
			</div>
		</div>
	</form>
</nav>
<router-outlet></router-outlet>
<nav class="navbar navbar-expand fixed-bottom navbar-dark bg-dark py-0">
	<ul class="navbar-nav w-100 justify-content-between justify-content-md-start">
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
				<div class="d-flex flex-column flex-md-row align-items-md-center">
					<fa-icon [icon]="['fab', 'fort-awesome']" class="h2 my-0 mx-auto mr-md-2"></fa-icon>
					<span>Dashboard</span>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled">
				<div class="d-flex flex-column flex-md-row align-items-md-center">
					<fa-icon [icon]="['fas', 'clock']" class="h2 my-0 mx-auto mr-md-2"></fa-icon>
					<span>Attractions</span>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/fastpasses']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
				<div class="d-flex flex-column flex-md-row align-items-md-center">
					<fa-icon [icon]="['fas', 'ticket-alt']" class="h2 my-0 mx-auto mr-md-2"></fa-icon>
					<span>Fastpass</span>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/settings']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
				<div class="d-flex flex-column flex-md-row align-items-md-center">
					<fa-icon [icon]="['fas', 'user-cog']" class="h2 my-0 mx-auto mr-md-2"></fa-icon>
					<span>Settings</span>
				</div>
			</a>
		</li>
	</ul>
</nav>
