<div class="container-fluid">
	<h1>Attractions</h1>
	<p>Sample API call</p>
	<table *ngIf="attractions | async as attractionsAsync" class="table table-sm">
		<thead class="thead-dark">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Name</th>
				<th scope="col">Fastpass</th>
				<th scope="col">Last Update</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let attraction of attractionsAsync">
				<td scope="row">{{attraction.id}}</td>
				<td>{{attraction.name}}</td>
				<td>{{attraction.fastpassEnabled}}</td>
				<td>{{attraction.updated | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
			</tr>
		</tbody>
	</table>
</div>
